html,
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #6f6ffd;
    background: linear-gradient(180deg , #fa68b1 0%, #6f6ffd 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    border-radius: 1rem ;
    flex-direction: column;
    padding: 2rem;
    box-shadow: #2f2f2f 0 1rem 1rem;
}

.logo{
    height: 33%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mtb-1{
    margin: 1rem 0;
}

.logo > img{
    width: 100%;
    object-fit: contain;
}

.logo > label {
    font-size: 24px;
    font-weight: bold;
}

.footer{
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    color:#fff;
}